/* src/components/Auth.css */
.auth-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-photo/lobby-with-large-lobby-with-plant-sign-that-says-hotel_1109006-77651.jpg?size=626&ext=jpg&ga=GA1.1.1750793307.1729235772&semt=ais_hybrid'); /* Make sure to replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color: rgba(255, 255, 255, 0.9); /* White background with some transparency */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust the width as necessary */
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-container button:hover {
    background-color: #0056b3;
}