/* RoomList.css */
/* .container {
    background-image: url('C:\Users\348066\Desktop\HOTEL\hotelbook\src\components\stella-island-luxury-resort--spa-0.jpg'); /* Replace with your image path */
    /* background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
} */ 